## Kicad
/pcb/**/*-lib-table
/pcb/**/*-cache
/pcb/**/*-rescue.lib
/pcb/**/*.sch-bak
/pcb/**/_autosave-*
/pcb/**/*.kicad_pcb-bak
/pcb/**/*.dcm
/pcb/**/*.xml
/pcb/**/*.kicad_prl
/pcb/**/*-backups/
/pcb/**/out/

## Quartus
/cpld/**/db/
/cpld/**/incremental_db/
/cpld/**/output_files/
/cpld/**/output/
/cpld/**/*.dpf
/cpld/**/*.cdf
/cpld/**/*.qws
/cpld/**/*.srf

## Testbench
/cpld_tb/ivl_vhdl_work/
/cpld_tb/work/
/cpld_tb/*.gtkw
/cpld_tb/*.vcd
/cpld_tb/*.bin
/cpld_tb/*.mem

## Etc.
*.bak
*.*~
*.sublime-*

*rev.C*
